*{
	box-sizing: border-box;
	border : 1px solid black;
	margin : 0px;
	padding: 0px;
	font-size: xx-large;
}

.main{
	display : grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: 100%;
	grid-template-areas: 
		"first second third"
		;
}

.header{
	height:20vh;
	width:100%;
	background-color: yellow;
	position: fixed;
	top:0px;
}

.column{
	float:left;
}