*{
	box-sizing: border-box;
	border : 1px solid black;
	margin : 0px;
	padding: 0px;
	font-size: xx-large;
}

.main{
	display : grid;
	width: 60vw;
	height: 30vh;
	text-align: center;
	line-height: 100%;
	grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
	grid-template-rows: 10vh 10vh 10vh;
	grid-template-areas: 
		". first first second second ."
		"sixth sixth . . third third"
		". fifth fifth fourth fourth ."
		;
}

.first{
	grid-area : first;
}

.second{
	grid-area : second;
}

.third{
	grid-area : third;
}

.fourth{
	grid-area : fourth;	
}

.fifth{
	grid-area : fifth;	
}

.sixth{
	grid-area : sixth;	
}