*{
	box-sizing: border-box;
	border : 1px solid black;
	margin : 0px;
	padding: 0px;
	font-size: xx-large;
}

.main{
	display : grid;
	width: 80vw;
	height: 80vh;
	max-width:100%;
	max-height:100%;
	grid-template-columns: 20vw 60vw;
	grid-template-rows: 80vh;
	grid-template-areas: 
		"sidebar view"
		;
}

.sidebar{
	grid-area : sidebar;
}

.sidebar-item{
	height : 20vh;
}	

.view{
	grid-area : view;
}

.top{
	height : 20vh;
}

.bottom{
	height : 60vh;
}